p{
  font-size: 20px;
  color: #fff;
}

.items {
  margin: 0 1rem;
  display: contents;
}

.button {
  margin: 2rem;
  padding: 1px 1rem;
  width: 6.25rem;
  background-color: #00e6e6;
  border-radius: 10px;
  cursor: pointer;
}

.button1:hover {
  background-color: #0bc7c7;
}

.button2 {
  background-color: rgb(199, 223, 223);
  p{
    color: #000;
  }
}

.button2:hover {
  background-color:#00e6e6;
  p{
    color: #fff;
  }
}

.button3 {
  transition: transform .2s;
}

.button3:hover{
  transform: scale(1.25);
  p {
    color: #000;
  }
}